


.dark {
    background-color: #d38c3f;
}

.light {
    background-color: #ffcf9b;
}

.selected {
    box-shadow: 0px 0px 0px 2px red inset;
}

.suggested {
    /*box-shadow: 0px 0px 0px 2px black inset;*/
}